<!DOCTYPE html>
{% load static %}
 <html lang="fr">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>LitReview</title>
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
   <body>

     <header id="navbar" class="nav">
       {%if user.is_authenticated %}
         <a href="{% url 'feed' %}">Mon fil </a>
         <a href="{% url 'followers_page' user.username%}">Mes abonnements </a>
       {% endif %}
         {%if user.is_authenticated == False %}
            <p>Parlons Livres !</p>
         {% endif %}
        <img class="logo" src="{% static 'img/LITReview_logo.png' %}">
         {%if user.is_authenticated == False %}
            <p>Savoir quoi lire ou pas...</p>
         {% endif %}
       {%if user.is_authenticated %}
          <a href="{% url 'ticket_view' %}">Mes tickets </a>
          <a href="{% url 'review_view' %}">Mes critiques </a>
         <div class="dropdown">
           <a class="nav-item" href="#" id="navDropdown" role="button" data-toggle="dropdown">

               <p>Bienvenue {{ user.username }} ! </p>
                    {% if user.profile_photo %}
                    <img class="profile-pic" width="90" height="90" src="{{ user.profile_photo.url }}"
                    alt="{{ user.username }} profile picture">
                    {% else %}
                    <img class="profile-pic" width="90" height="90" src="{% static 'img/default_profile.png' %}"
                    alt="{{ user.username }} profile picture">
                    {% endif %}
             <div class="content">
                 <ul>
                    <li> <a href="{% url 'profile' user.username %}">Mon profil </a> </li>
                    <li> <a href="{% url 'logout' %}">Me déconnecter </a> </li>
                 </ul>
             </div>
           </a>
        </div>
       {% endif %}
     </header>

     <div class="container">
        {% block content %}
        {% endblock content %}
     </div>
     {% if user.is_authenticated == False %}
       <footer class="copy-r">
            <div class="container"><p class="copy22">Copyright &copy; LITReview 2022</p></div>
       </footer>
     {% endif %}
   </body>
 </html>

