{% extends 'base.html' %}
{% block content %}
    <div class="form edit_form__ticket">
        <h2>Modifier le ticket</h2>
        <form method="post" enctype="multipart/form-data">
            {{ edit_form.as_p }}
            {% csrf_token %}
            <button class="btn" type="submit" >Modifier</button>
        </form>
        <hr>
        <h3>Supprimer le ticket ?</h3>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            <button class="btn" type="submit" >Supprimer</button>
        </form>
           <br>
        <button class="butn">
                <a id="return" href="{% url 'feed' %}">Annuler</a>
                </button>

    </div>
{% endblock content %}