{% extends 'base.html' %}
{% block content %}
    <div class="form form__review">
        <h2 class="review_updt">Modifier la critique</h2>
        <form method="post">
            {{ edit_form.as_p }}
            {% csrf_token %}
            <br>
            <button class="btn" type="submit" >Modifier</button>
        </form>
        <br>
        <h2 class="review_del">Supprimer la critique ?</h2>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
            <button class="btn" type="submit" >Supprimer</button>
        </form>
         <br>
        <button class="butn">
                <a id="return" href="{% url 'feed' %}">Annuler</a>
                </button>
    </div>
{% endblock content %}